* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #636363;
    line-height: 1.5;
}

.animate__animated {
    --animate-duration: 2s;
}

.button {
    display: block;
    padding: 15px 45px;
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    background-size: 200%;
    text-transform: uppercase;
}

.button:hover {
    background-position: right center;
}

.title p {
    color: #f55f8d;
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 30px;
}

.title h1 {
    color: black;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 30px;
}


/* header */
header {
    padding: 40px 0 50px;
    position: absolute;
    width: 100%;
}

.header__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__content nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content nav ul {
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

.header__content nav ul li {
    padding: 0 10px;
    list-style: none;
}

.header__content nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 0.8rem;

}

.header__content nav li a span {
    color: black;
    font-weight: 700;
    display: inline-block;
}

.header__content nav ul li:hover a i {
    color: #f55f8d;
}

.header__content nav ul li:hover a span {
    color: #f55f8d;
    animation: uptodown;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes uptodown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(20px);
        opacity: 0;
    }

    51% {
        transform: translateY(-20px);
        opacity: 1;
    }
}

/* carousel */
#carousel {
    background-image: url(../images/pic2.png);
    background-position: top;
    background-size: contain;
    padding-top: 180px;
}

.carousel__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel__info {
    width: 60%;
    padding: 0 50px 0 0;
}

.carousel__info p {
    padding-bottom: 30px;
}

.carousel__info p i {
    color: white;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;

    width: 35px;
    height: 35px;
}

.carousel__img {
    width: 40%;
    padding: 0 0 0 50px
}

.carousel__img img {
    width: max-content;
}

/* service */
#service {
    padding-top: 100px;
    text-align: center;
    background-image: url(../images/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service__content {
    padding-top: 30px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.service__item {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px 50px;
    transform: translateY(0);
    transition: all 0.5s;
}

.service__item:hover {
    transform: translateY(-20px);
}

.service__item img {
    width: 200px;
}

.service__item h2 {
    color: black;
    font-size: 1.5rem;
    padding: 20px 0;
}

/* about */
#about {
    background-image: url(../images/bg15.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 100px 0 70px;
}

.about__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.about__content .about__img {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding-right: 100px;
}

.about__img img {
    width: 700px;
    border-radius: 0 70px 70px 0;
}


.about__info {
    width: 50%;
}

.about__info p {
    padding-bottom: 20px;
}

.about__info p i {
    color: #f55f8d;
    border: 1px solid #f55f8d;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

/* number */
#number {
    padding: 80px 0;
    background-image: url(../images/bg14.png);
}

.number__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.number__item {

    text-align: center;
}

.number__item i {
    font-size: 40px;
    color: white;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
}

.number__item p:first-of-type,
.number__item p:first-of-type span {
    font-size: 70px;
    padding: 20px 0 0px;
    font-weight: 700;
    color: #f55f8d;
}

/* feature */
#feature {
    padding: 80px 0 0;
    background-image: url(../images/bg2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.feature__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.feature__info {
    width: 50%;
}

.feature__item:nth-of-type(3) {
    margin: 0 0 30px 50px;
}


.feature__item {
    background-color: white;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    margin: 0 50px 30px 0;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.feature__item::after {
    content: "";
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1s;
}

.feature__item:hover::after {
    opacity: 1;
}

.feature__item:hover i,
.feature__item:hover div h1,
.feature__item:hover div p {
    color: white;

}

.feature__item i {
    color: #f55f8d;
    text-align: center;
    width: 20%;
    font-size: 80px;
    padding: 0 10px 0 0;
    z-index: 1;
    transition: all 1s;

}

.feature__item div {
    width: 80%;
    padding: 0 0 0 10px;
    z-index: 1;
    transition: all 1s;
}


.feature__item div h1 {
    font-weight: 700;
    font-size: 1.5rem;
    color: black;
}

.feature__img {
    width: 50%;
}

.feature__img img {
    width: 115%;
}

/* portfolio */
#portfolio {
    padding-top: 110px;
    text-align: center;
}

.portfolio__content {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    grid-gap: 30px;
}

.portfolio__content img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.portfolio__item {
    position: relative;

}

.portfolio__item.item1 {
    grid-column: 1/span 2;
}

.portfolio__item.item6 {
    grid-column: 1/span 2;
}

.portfolio__item.item5 {
    grid-row: 2/span 2;
    grid-column: 3/span 1;
}

.portfolio__overlay {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
    overflow: hidden;
}

.portfolio__overlay .portfolio__icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    transform: translate(20px, -20px);
    transition: all 0.5s;
}

.portfolio__overlay .portfolio__icon i {
    color: white;
}

.portfolio__overlay .portfolio__text {
    position: absolute;
    left: 30px;
    bottom: 30px;
    text-align: left;
    transform: translateY(60px);
    transition: all 0.5s;
}

.portfolio__overlay .portfolio__text p:first-child {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}

.portfolio__overlay .portfolio__text p:last-child {
    color: #c2c7ca;
    font-size: 1rem;
}

.portfolio__item:hover .portfolio__overlay {
    opacity: 1;
}

.portfolio__item:hover .portfolio__icon,
.portfolio__item:hover .portfolio__text {
    transform: translate(0);
}

/* Plan */
#plan {
    text-align: center;
    margin-top: 100px;
    background-image: url(../images/bg16.png);
    background-size: cover;
}

.plan__content {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.plan__item {
    background-color: white;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 40px 80px;
    border-radius: 10px;
    transition: all 2s;
    border: 3px solid transparent
}

.plan__item:hover {
    border-image: url(../images/br.png) 1 round;
}

.plan__item h1 {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 700;
}

.plan__item img {
    width: 150px;
    height: 150px;
}

.plan__item h2 {
    font-size: 1.2rem;
    font-weight: 700;
    border-bottom: 1px solid #e1e1f0;
    margin-bottom: 20px;
}

.plan__item h2 span {
    color: #f8ae56;
    font-size: 50px;
}

.plan__item p {
    font-size: 1.2rem;
    text-align: left;
    line-height: 1.2;
    padding: 5px 0;

}

.plan__item p i {
    color: #f55f8d;
    background-color: #feeff3;
    width: 30px;
    height: 30px;
    line-height: 1;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    margin-right: 10px;
}

.plan__item button {
    text-align: center;
    margin: 10px auto 0;
}

/* testimonial */
#testimonial {
    padding: 100px 0 0;
    text-align: center;
    background-image: url(../images/bg17.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.testimonial__content {
    width: 80%;
    margin: 0 auto;
}

.testimonial__thumb {
    width: 500px;
    overflow: hidden;
    margin: auto;
}

.testimonial__thumb .swiper-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.testimonial__thumb .testimonial__img {
    padding: 20px;
    width: 150px !important;
}

.testimonial__thumb .testimonial__img img {
    padding: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #f55f8d;
}

.testimonial__text .swiper-wrapper {
    justify-content: space-between;
    display: flex;
}

.testimonial__item {
    box-shadow: 0 10px 10px 0px rgb(0 0 0 / 10%);
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    position: relative;
    padding: 25px;
}

.testimonial__item i {
    color: #f55f8d;
    font-size: 90px;
    position: absolute;
    top: 20px;
    left: 30px;
}

.testimonial__item h1 {
    color: black;
    font-size: 1.3rem;
    line-height: 2;
}

.testimonial__item h2 {
    color: #f55f8d;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 400;
    font-style: italic;
}

.testimonial__item p {
    font-size: 1.2rem;
    font-style: italic;
    padding: 30px 0 10px;
}

/* blog */
#blog {
    background-image: url(../images/bg16.png);
    background-size: cover;
    padding: 100px 0 0;
    text-align: center;
}

.blog__content {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.blog__item {
    background-color: #feeff3;
    border-radius: 10px;
}

.blog__header {
    position: relative;
}

.blog__header img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.blog__header p {
    color: white;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    padding: 10px 10px;
    width: 150px;
    border-radius: 10px;
    position: absolute;
    left: 15px;
    bottom: -18px;
}

.blog__body {
    text-align: left;
    padding: 30px 20px 40px;
    border-bottom: 1px solid #e1e1f0;
}

.blog__body h1 {
    font-size: 1.5rem;
    color: black;
}

.blog__footer {
    display: flex;
    justify-content: flex-start;
}

.blog__footer p {
    padding: 15px 20px;
}

.blog__footer p i {
    font-size: 1.2rem;
    padding-right: 10px;
    color: #f55f8d;
}

.blog__footer p span {
    color: #f55f8d;
}

/* form */
#form {
    background-image: url(../images/pattern2.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0e1b1f;
    padding-bottom: 50px;

}

.form__content {
    background-color: white;
    background-image: url(../images/pattern3.png);
    background-position: center;
    background-size: cover;
    width: 80%;
    margin: 50px auto 0;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
}

.form__text {
    padding-left: 50px;
}

.form__text h1 {
    color: black;
    font-size: 2rem;
}

.form__content form {
    width: 50%;
    display: flex;
    justify-content: end;
    padding-right: 50px;
}

.form__content form input {
    padding: 20px;
    width: 80%;
    border: 1px solid white;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.form__content form input:hover {
    border-color: #f55f8d;
}

.form__content form button {
    padding: 20px 40px;
    border-radius: 0 10px 10px 0;
}

.form__content form button i {
    font-size: 1.5rem;
    color: white;
}

/* footer */
footer {
    color: white;
    padding: 10px 0 0;
    background-image: url(../images/bg4.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0e1b1f;
}

.footer__content {
    width: 80%;
    margin: 0 auto 70px;
    display: flex;
    align-items: center;
}

footer ul li {
    list-style: none;
    padding: 10px 0;
}

footer ul a {
    text-decoration: none;
    transition: all 0.5s;
}

footer i {
    margin-right: 10px;
    transition: all 0.5s;
}

.footer__item {
    width: 25%;
}

.footer__item:first-child li {
    display: flex;
    align-items: center;
}

.footer__item:first-child li i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
    text-align: center;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 50%;
}

.footer__item:first-child li span {
    color: white;
}

.footer__item h1 {
    font-size: 1.5rem;
    color: white;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.footer__item h1::before {
    content: "";
    width: 15px;
    height: 4px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer__item h1::after {
    content: "";
    width: 45px;
    height: 4px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    position: absolute;
    left: 20px;
    bottom: 0;
}

.footer__item ul li a:hover,
.footer__item ul li a:hover i {
    color: white;
}

.footer__copyright {
    background-color: #1f343b;
}

.footer__bottom {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.footer__left p {
    color: white;
}

.footer__left span {
    color: #f55f8d;
}

.footer__right i {
    margin: 0 0 0 2px;
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .1);
    transition: all 0.5s;
}

.footer__right a:hover i {
    background-color: #f55f8d;
}

/* backtotop */
.backtotop {
    color: white;
    text-align: center;
    background-color: #f55f8d;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    visibility: hidden;
    opacity: 0;
}

.backtotop i {
    color: white;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    opacity: 1;
}